<section class="wrap">
  <div id="video-container" class="foto-wrap">
    <img
      class="foto"
      src="./img/hero/video-chocolate.jpg"
      alt="chocolate"
      id="video-foto"
    />
    <button id="play-button" type="button" class="play-btn">
      <img src="./img/hero/play.svg" alt="play-btn" class="icon-play" />
    </button>

    <iframe
      class="iframe"
      id="video-iframe"
      src="https://www.youtube.com/embed/o9Dh7r_Ih5Q?start=3"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      allowfullscreen
    >
    </iframe>
  </div>
  <div class="text">
    Try our chocolates today and discover the perfect balance of flavor
  </div>
</section>
